*{
    margin: 0;
    padding: 0;
}

body{
    background: #dfdfdf;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    position: relative;
    background: #ccc;
    width: 40px;
    height: 20px;
    border: 2px solid #bbb;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button{
    background: rgb(25, 0, 255);
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    pointer-events: none;
    top: 3px;
    left: 3px;
    position: absolute;
    transition: background 300ms ease-in-out;
}

.toggle-input:checked ~ .slider{
    background: rgb(0, 17, 255);
}

.toggle-input:checked ~ .slider > .button {
    background: #ccc;
    left: 23px;
}

.toggle-input{
    display: none;
}
